<h1>Запись в группу</h1>
<%= form_tag :action => 'enroll' do %>

<% if @student && @student.errors.any? %>
  <h2>Ошибки:</h2>
    <% @student.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<p><label for = "student_name">Имя</label>:  
<%= text_field 'student', 'name' %></p>

<p><label for = "student_surname">Фамилия</label>:
<%= text_field 'student', 'surname' %></p>

<p><label for = "student_email">Email</label>:
<%= text_field 'student', 'email' %></p>

<%= submit_tag "Записаться" %>
    
<% end -%>


<%= link_to 'К курсам', "/web_courses/" %>